# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore all files in static/uploads/
static/uploads/*

# But don't ignore .gitkeep
!static/uploads/.gitkeep

